__pycache__
**/__pycache__/

logging/
output/
slurm_output/
prompt/
scorer/indexes/
scorer/pygaggle/

test.sh
score_all.sh
score_original.sh 
run_score.sh
print_all_prompts.sh
compute_all_ir_scores.sh

check_logs.py
build_chat_history.py
